@using BasicCompany.Feature.MyComponents.Model

@model CarouselModel

@if (Model != null && Model.Slides != null && Model.Slides.Count > 0)
{

    bool isExperienceEditor = Sitecore.Context.PageMode.IsExperienceEditor;
    string data_ride = isExperienceEditor ? "false" : "true";
    bool showNavigationButtons = Model.Slides.Count > 1 ? true : false;

    if (isExperienceEditor == false)
    {
        <div id="carousel" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.Slides.Count; i++)
                {
                    var activeClass = i == 0 ? "active" : string.Empty;
                    <li data-target="#carousel" data-slide-to="@i" class='@activeClass'>
                    </li>
                }
            </ol>
            <div class="carousel-inner">
                @for (int i = 0; i < Model.Slides.Count; i++)
                {
                    var slide = Model.Slides[i];
                    var activeClass = i == 0 ? "active" : string.Empty;

                    <div class="carousel-item @activeClass">
                        @slide.Image
                        <div class="carousel-caption">
                            <p class="animated fadeInRight">@slide.Title</p>
                            <h1 class="animated fadeInLeft">@slide.SubTitle</h1>
                            @slide.CallToAction
                        </div>
                    </div>
                }
            </div>

            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                @if (Model.ShowLabels)
                {
                    <span>@Model.Previous</span>
                }
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                @if (Model.ShowLabels)
                {
                    <span>@Model.Next</span>
                }
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    }
    else
    {
        <div class="container-fluid m-2">
            <div class="row">
                @foreach (var slide in Model.Slides)
                {
                    <div class="col-4 p-1">
                        <div class="card carousel-inner">
                            @slide.Image
                            <div class="card-body carousel-caption">
                                <h5 class="card-title text-center">@slide.Title</h5>
                                <p class="card-text text-center">@slide.SubTitle</p>
                                @slide.CallToAction
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

}
else if(Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div class="container-fluid m-2">
        <div class="row">            
                <div class="col-12 p-1">
                    Selecione um slide
                </div>
        </div>
    </div>
}